* {
    Margin-top: 0px;
    Margin-bottom: 0px;
    Margin: auto;
    padding: 0px;    
}
body {
    background: linear-gradient( black, #2C2C2C, #424242,#585858, #6F6F6F,#858585);
}
h1 {
    font-family: Arial;
    font-size: 40px;
    font-weight: bolder;
}
h2, h3, h4, h5, h6 {
    font-family: Arial;
    font-size: 30px;
    font-weight: bolder;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#imagen_logo {
    width: 5%;
    margin: -7px;
}
.texto_imagen {
    color:rgb(252, 248, 48);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: 50px;
    text-align: center;
    position: absolute;
    left: 12cm;
    bottom: 9cm;
    z-index: 1;
}
.portada {
    width: 1499px;
    height: 620px;
    position: relative;
    border: 10px groove rgb(61, 59, 59);
   
}
nav {
    display: inline-block;
    color: rgb(30, 30, 87);
    direction: rtl;
    margin: 1px;
    align-self: center;
}
header img {
    display: inline-block;
    left: 2px;
}
.menu {
    background-color: rgb(250, 214, 54);
    padding: 10px 100px;
    margin: 1px;
    display:inline-block;
    border: 5px inset rgb(250, 214, 54);
}
.menu:hover {
    background-color: rgb(241, 170, 63);
    padding: 10px 117px;
    margin: 1px;
    display:inline-block;
    border: 5px groove rgb(250, 214, 54);

}
.menu:visited {
    color: blue;
    padding: 10px 120px;
    margin: 1px;
    display:inline-block;
}
main section
figure {
    margin: 0px 10px;
    display: inline-block;
    position: relative;
    padding-bottom: 30px;
    border: 1px solid grey;
}
figcaption {
    position: absolute;
    text-align: center;
}
figcaption {
    position: absolute;
    text-align: center;
    padding: 0px;
}
.imagenes {
    width: 250px;
    height: 200px;
    text-align: center;
}
aside {    
    width: 300px;
    min-height: 400px;
    background: pink;
    float: right;
    margin: 10px;
}
.bebe{
    width: 295px;
    height: 180px;
}
#catalogo {
    text-align: center;
    background-color: #F2AB00 ;
    padding: 10px 530px ;
    display: inline-block;
    margin-bottom: 6px;
    border-radius: 4px;
    border: 4px inset #F2AB00;

}
#prom{
    font-family: Arial, Helvetica, sans-serif;
    font-size : 30px;
    text-align: center;
}